/* Start Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: #f1eee9;
    font-family: "Poppins", serif;
    overflow-x: hidden;
}

/* End Global Styles */

/* Start Main Header Styles */

.main-header {
    position: relative;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13313C;
}

.header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
}

.header-logo span {
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;
}

.header-logo span i {
    font-size: 1.6rem;
}

.toggle-navbar {
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
}

.navbar { /* Let's making it hide */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 7;
    width: 100%;
    padding: 1.6rem;
    background-color: #13313C;
    border-top: 1px solid #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.4s;
}

.navbar.show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-link {
    padding: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    transition: color 0.4s;
}

.sign-up-btn {
    display: none;
    padding: 1.2rem 2.4rem;
    background-color: #f9d678;
    border-radius: 5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    color: #13313C;
    cursor: pointer;
    transition: background-color 0.4s,
                color 0.4s;
}

/* End Main Header Styles */

/* Start Hero Styles */

.hero {
    padding: 1.6rem 1.6rem 5.2rem;
    display: grid;
    align-items: center;
    gap: 3.2rem;
}

.hero-img {
    display: flex;
    justify-content: center;
}

.hero-img img {
    width: 100%;
    max-width: 550px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    animation: fadeInFromRight 1s cubic-bezier(0.5, 0, 0, 1) forwards;
}

.hero-content {
    text-align: center;
}

.first-heading {
    margin-bottom: 1.6rem;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #13313C;
    visibility: hidden;
    opacity: 0;
    transform: translateY(2.4rem);
    animation: fadeInFromBottom 1s 0.5s cubic-bezier(0.5, 0, 0, 1) forwards;
}

.second-heading {
    margin-bottom: 1.6rem;
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #13313C;
    visibility: hidden;
    opacity: 0;
    transform: translateY(2.4rem);
    animation: fadeInFromBottom 1s 1s cubic-bezier(0.5, 0, 0, 1) forwards;
}

.hero-desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8;
    color: #13313C;
    visibility: hidden;
    opacity: 0;
    transform: translateY(2.4rem);
    animation: fadeInFromBottom 1s 1.5s cubic-bezier(0.5, 0, 0, 1) forwards;
}

.call-to-action {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(2.4rem);
    animation: fadeInFromBottom 1s 2s cubic-bezier(0.5, 0, 0, 1) forwards;
}

.call-to-action a {
    display: flex;
    overflow: hidden;
    border-radius: 5px;
}

.call-to-action a img {
    max-width: 150px;
}

/* End Hero Styles */

/* Media Quaries */

@media screen and (hover: hover) {
    .nav-link:hover {
        color: #ff0000;
    }

    .sign-up-btn:hover {
        background-color: #ff0000;
        color: white;
    }
}

@media screen and (min-width: 600px) {
    .main-header {
        padding: 1.6rem 2.4rem;
    }

    .hero {
        padding: 1.6rem 2.4rem 5.2rem;
    }
}

@media screen and (min-width: 900px) {
    .main-header {
        padding: 1.6rem 3.2rem;
    }

    .hero {
        padding: 1.6rem 3.2rem 5.2rem;
    }

    .navbar {
        position: static;
        width: fit-content;
        padding: 0;
        background-color: transparent;
        border-top: none;
        flex-direction: row;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .toggle-navbar {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .main-header {
        padding: 1.6rem 4.8rem;
        background-color: transparent;
    }

    .header-logo,
    .nav-link {
        color: #13313C;
    }

    .header-logo {
        font-size: 3.2rem;
    }

    .nav-link {
        font-size: 1.8rem;
    }

    .sign-up-btn {
        display: block;
    }

    .hero {
        padding: 2.4rem 4.8rem 5.2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-img {
        order: 2;
    }

    .hero-content {
        text-align: left;
    }

    .call-to-action {
        justify-content: flex-start;
    }

}

/* KeyFrame Animations */

@keyframes fadeInFromRight {
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInFromBottom {
    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}
